.post-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-item {
  padding: 10px;
  font-style: italic;
  color: grey;
  font-size: 20px;
}
.post-day {
  padding-right: 20px;
}


blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 4em/1.08em 'Source Serif Pro';
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

h1 a {
  color: black;
  text-decoration: none;
}
.post {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  text-align: left;
}

p {
  font-family: 'Source Serif Pro', serif;
  color: rgb(17, 17, 17);
}

pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  color: #000000;

}       

code {
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: rgb(241, 241, 241);
}

code {
  border-radius: 10px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;

}

pre code {
  display: block;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-right: 20px;
}