
.lyt-sidebar {
    min-height: 100%;
    grid-area: sidebar;
}

.lyt-content {
    min-height: 100%;
    display: flex;
    grid-area: content;
}

.lyt-footer {
    max-height: 5em;
    grid-area: footer;
}

/* MOBILE - layout for mobile and small screens */
.lyt-layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5vw  90vw  5vw;
    grid-template-areas: "... sidebar ..."
                        "... content ..."
                        "... footer ...";
}
html {
    font-size: 30px;
}


  

/* DESKTOP - layout for desktop and large screens */
@media (min-device-width: 700px), (device-width: 700px) {
    html {
        font-size: 12px;
    }
    .lyt-sidebar {
        width: 10em;
        height: 100%;
        display: flex;
        position: fixed;
        align-items: center;
    }
    .lyt-layout {
        display: grid;
        grid-gap: 0.5vw;
        grid-template-columns: 14em calc(40vw / 2 - 14em) 60vw ;
        grid-template-areas: "sidebar ... ....... ...."
                             "sidebar ... content ...."
                             "sidebar ... footer  ....";
    }

    .img-small {
        max-width: 50%;
    }

    .img-medium {
        max-width: 80%;
    }

    .Sidenav a {
        font-size: 20px;
    }
}
  
